<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you</h1>

    	<p>Your enquiry has been received. Someone will contact you shortly.</p>


   </body>
 </html>