<div class="post">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><%= post.title %> <small>posted on <%= post.created_at.strftime('%b %d, %Y at %I:%M %p') %></small></h4>
		</div>
		<div class="panel-body">
			<p><%= post.content %></p>
		</div>
	</div>
</div>